
Hi!
I am a Latin people, so if you look at any orthographic error, I apologize to you. :)

## DATA WITHOUT NORMALIZATION AND 50 EPOCHS.

Import the main libraries of Keras.

In [1]:
import keras
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:521: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:522: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:523: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

Import Numpy, Pandas and Sklearn to secondary operations.

In [2]:
import numpy as np #To work with vectors
import pandas as pd #To import CSV
from sklearn import preprocessing #To preprocessing data

Now, we going to download the data.

In [3]:
!wget -O concrete_data.csv https://cocl.us/concrete_data

--2021-08-24 05:34:42--  https://cocl.us/concrete_data
Resolving cocl.us (cocl.us)... 150.239.80.14, 150.239.82.224
Connecting to cocl.us (cocl.us)|150.239.80.14|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv [following]
--2021-08-24 05:34:43--  https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv
Resolving s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)... 67.228.254.196
Connecting to s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)|67.228.254.196|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 58988 (58K) [text/csv]
Saving to: ‘concrete_data.csv’

concrete_data.csv   100%[===================>]  57.61K  --.-KB/s    in 0.001s

2021-08-24 05:34:43 (54.4 MB/s) - ‘concrete_data.csv’ saved [58988/58988]

We will assign the data to a variable.

In [4]:
concrete_data = pd.read_csv('concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

Now, we going to take "Cement","Blast","Furnace", "Slag","Fly", "Ash","Water","Superplasticizer","Coarse Aggregate","Fine Aggregate","Age" as predictors 
and take "Strength" as target.

In [5]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']]
target = concrete_data['Strength']

In [6]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [7]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

Later, we will create a function for the regression model.

In [8]:
def regression_model():
    
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

Now, we going to train the model and calculate the mean squared error between the predicted and validation data, later we save it within a vector. Taking into account that the test_size is 30%, the number of epochs are 50, the random seed is 42.

In [9]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [10]:
MSE=[]
for i in range(1,50):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.30, random_state=42)

    n_cols = predictors.shape[1]

    model = regression_model()

    model.fit(predictors, target, epochs=50, verbose=0)

    yhat = model.predict(X_test)

    error = mean_squared_error(yhat, y_test)
    MSE.append(error)

Finally, we calculate the mean and standard deviation of the MSE vector.

In [11]:
mean =np.mean(MSE)
std = np.std(MSE)

print("The mean of the MSE is: ", mean)
print("The standard deviation of the MSE is: ", std)

246.54466972064296
262.14719349671446

## DATA NORMALIZATION AND 50 EPOCHS.

Now, we going to normalize the data and repeat the same process.

In [13]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

Now, we going to train our model and take the mean squared error for compare it.

In [15]:
MSE_n=[]
for i in range(1,50):
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.30, random_state=42)

    n_cols = predictors_norm.shape[1]

    model = regression_model()

    model.fit(predictors_norm, target, epochs=50, verbose=0)

    yhat = model.predict(X_test)

    error = mean_squared_error(yhat, y_test)
    MSE_n.append(error)

We going to calculate the mean and standard deviation of the normalization model.

In [16]:
mean_n =np.mean(MSE_n)
std_n = np.std(MSE_n)

print("The mean of the MSE is: ", mean_n)
print("The standard deviation of the MSE is: ", std_n)

The mean of the MSE is:  198.99641931996035
The standard deviation of the MSE is:  35.86320712701301

##### The mean squared error was lower, when we normalize the data we have lower operation numbers.