
Hi!
I am a Latin people, so if you look at any orthographic error, I apologize to you. :)

## DATA WITHOUT NORMALIZATION AND 50 EPOCHS.

Import the main libraries of Keras.

In [2]:
from tensorflow import keras 
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

Import Numpy, Pandas and Sklearn to secondary operations.

In [3]:
import numpy as np #To work with vectors
import pandas as pd #To import CSV
from sklearn import preprocessing #To preprocessing data

Now, we going to download the data.

In [4]:

import wget
url = 'https://cocl.us/concrete_data'
concrete_data = wget.download(url,'concrete_data.csv')

100% [..............................................................................] 58988 / 58988

We will assign the data to a variable.

In [5]:
concrete_data = pd.read_csv(concrete_data)
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

Now, we going to take "Cement","Blast","Furnace", "Slag","Fly", "Ash","Water","Superplasticizer","Coarse Aggregate","Fine Aggregate","Age" as predictors 
and take "Strength" as target.

In [6]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']]
target = concrete_data['Strength']

In [7]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [8]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

Later, we will create a function for the regression model.

In [9]:
def regression_model():
    
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

Now, we going to train the model and calculate the mean squared error between the predicted and validation data, later we save it within a vector. Taking into account that the test_size is 30%, the number of epochs are 50, the random seed is 42.

In [10]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [11]:
MSE=[]
for i in range(1,50):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.30, random_state=42)

    n_cols = predictors.shape[1]

    model = regression_model()

    model.fit(predictors, target, epochs=50, verbose=0)

    yhat = model.predict(X_test)

    error = mean_squared_error(yhat, y_test)
    MSE.append(error)

Finally, we calculate the mean and standard deviation of the MSE vector.

In [12]:
mean =np.mean(MSE)
std = np.std(MSE)

print("The mean of the MSE is: ", mean)
print("The standard deviation of the MSE is: ", std)

The mean of the MSE is:  162.99249876705332
The standard deviation of the MSE is:  89.27788758341349

## DATA NORMALIZATION AND 50 EPOCHS.

Now, we going to normalize the data and repeat the same process.

In [13]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

Now, we going to train our model and take the mean squared error for compare it.

In [14]:
MSE_n=[]
for i in range(1,50):
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.30, random_state=42)

    n_cols = predictors_norm.shape[1]

    model = regression_model()

    model.fit(predictors_norm, target, epochs=50, verbose=0)

    yhat = model.predict(X_test)

    error = mean_squared_error(yhat, y_test)
    MSE_n.append(error)

We going to calculate the mean and standard deviation of the normalization model.

In [15]:
mean_n =np.mean(MSE_n)
std_n = np.std(MSE_n)

print("The mean of the MSE is: ", mean_n)
print("The standard deviation of the MSE is: ", std_n)

The mean of the MSE is:  199.56832177032274
The standard deviation of the MSE is:  39.77742652989452

##### The mean squared error was lower, when we normalize the data we have lower operation numbers.

## DATA NORMALIZATION AND 100 EPOCHS.

In this section, we going to take the normalize data and use 100 epochs for training.

In [16]:
MSE_n_100=[]
for i in range(1,50):
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.30, random_state=42)

    n_cols_n = predictors_norm.shape[1]

    model = regression_model()

    model.fit(predictors_norm, target, epochs=100, verbose=0)

    yhat = model.predict(X_test)

    error = mean_squared_error(yhat, y_test)
    MSE_n_100.append(error)

Now, we will calculate the mean and standard deviation for the normalization data with 100 epochs.

In [17]:
mean_n_100 =np.mean(MSE_n)
std_n_100 = np.std(MSE_n)

print("The mean of the MSE is: ", mean_n_100)
print("The standard deviation of the MSE is: ", std_n_100)

The mean of the MSE is:  199.56832177032274
The standard deviation of the MSE is:  39.77742652989452

##### At 100 epochs,the mean squared error was practically the same, so increasing the number of epochs was not of enough relevance.

## DATA NORMALIZATION, 50 EPOCHS AND THREE HIDDEN LAYERS.

Finally, we going to use the data normalization, with 50 epochs and three hidden layers, at first we will increase the number of hidden layers into regression model.

In [18]:
def regression_model_3HL():
    
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols_n,)))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(1))
    
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

Then, we will train the model.

In [19]:
MSE_n_3HL=[]
for i in range(1,50):
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.30, random_state=42)

    n_cols_n = predictors_norm.shape[1]

    model = regression_model_3HL()

    model.fit(predictors_norm, target, epochs=50, verbose=0)

    yhat = model.predict(X_test)

    error = mean_squared_error(yhat, y_test)
    MSE_n_3HL.append(error)

At last, we going to calculate the mean and standard deviation of the MSE error.

In [20]:
mean_n_3HL =np.mean(MSE_n_3HL)
std_n_3HL = np.std(MSE_n_3HL)

print("The mean of the MSE is: ", mean_n_3HL)
print("The standard deviation of the MSE is: ", std_n_3HL)

The mean of the MSE is:  101.0086135399224
The standard deviation of the MSE is:  16.888305969920683

##### When we increase the number of hidden layers, it can be seen that the mean squared error decreases even by half. which is pretty good for the system.